// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patient-create-edit-form-input{
    background-color: white;
}

.patient-create-edit-form-li{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.patient-create-edit-form-li-span{
    display: block;
    width: 100px;
    text-align: center;
}

.patient-create-edit-form-ul{
    display: flex;
    flex-direction: column;
}

.patient-index-div{
    background-color: white;
    width: 250px;
    padding: 50px;
}

.patient-index-div-search{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #dadada;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
}

.patient-index-search-input{
    padding-left: 10px;
}

.patient-index-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 20px
}

.patient-index-ul{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 200;
    color: #8e909b;
    margin-top: 20px;
    padding-left: 20px;
    overflow-y: auto;
    height: 400px;
}


.patient-index-ul-li{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.patient-index-ul-li:hover{
    color: black;
    transform: scale(1.05);
}

.patient-index-ul-li-span-1{
    display: inline-block;
    width: 65%
}

.patients-main-div{
    display: flex;
    flex-direction: row;
    background-color: #dadada;
    height: 100%;
}

